/* =============================================== IMAGE  ======================================== */
.carousel-item img {
    height: 30rem;
    filter: brightness(30%);
}

/* ================================================== HEADER ======================================= */

.header_left h1 {
    font-size: 1.5rem;
}

.header_left p{
    font-size: 0.75rem;
}
.header_left {
    margin-left: -94px;
    text-align: justify;
    margin-right: 29rem;
}

.header_left a {
    padding: 0.5rem 1.2rem;
}

/* ============================================= FILIERES ====================================== */

.filieres {
    background-color: whitesmoke;
    height: 32rem;
    display: grid;
}

.filiere p{
    font-size: 0.5rem;
}
.filieres_container {
    margin-left: 7rem;
}
.filieres_center {
    text-align: center;
    margin-top: 4rem;
}

.filieres_left p {
    margin: 1rem 0 3rem;
}

.filieres_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.filieres_container h1 {
    font-size: 2.5rem;
}

.filiere {
    background: white;
    padding: 2rem;
    border-radius: 1.5rem;
    transition: all 400ms ease;
    margin-top: 4rem;
    margin-bottom: 6rem;
    margin-right: 2rem;
}

/* =============================================== IMAGE  ======================================== */
.carousel-item img {
    height: 30rem;
    filter: brightness(30%);
}

/* ================================================== HEADER ======================================= */

.header_left h1 {
    font-size: 1.5rem;
}

.header_left p{
    font-size: 0.75rem;
}
.header_left {
    margin-left: -94px;
    text-align: justify;
    margin-right: 29rem;
}

.header_left a {
    padding: 0.5rem 1.2rem;
}

/* ============================================= FILIERES ====================================== */

.filieres {
    background-color: whitesmoke;
    height: 32rem;
    display: grid;
    margin-left: -90px;
}

 .filieres h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.filieres_container {
    margin-left: 7rem;
}
.filieres_center {
    text-align: center;
    margin-top: 4rem;
}

.filiere h5 {
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.filiere p {
    font-size: 1rem;
    text-align: justify;
}

.filieres_left p {
    margin: 1rem 0 3rem;
}

.filieres_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.filieres_container h1 {
    font-size: 2.5rem;
}

.filiere {
    background: white;
    padding: 2rem;
    border-radius: 1.5rem;
    transition: all 400ms ease;
    margin-top: 4rem;
    margin-bottom: 6rem;
    margin-right: 2rem;
}

.filiere img {
    height: 11rem;
}

.filiere:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3) ;
    z-index: 1;
}

.filiere p {
    font-size: 1rem;
    text-align: justify;
}

.filiere .reseaux {
    height: 11rem;
    width: 25rem;
}

.filiere .software {
    height: 11rem;
    width: 20rem;
}

article.filiere img{
    width: 260px;
} 

.filiere:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3) ;
    z-index: 1;
}

.filiere p {
    font-size: 0.75rem;
    text-align: justify;
}

.filiere .reseaux {
    height: 11rem;
    width: 17rem;
}

.filiere .software {
    height: 11rem;
    width: 17rem;
}

/* ============================================ INFOS ========================================= */

.infos {
    background-color: whitesmoke;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5) !important;
    padding: 6rem 0;


}

.infos_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-left: 7rem;
}

.info {
    padding: 2rem;
    display: flex;
    text-align: center;
    gap: 1.4rem;
    height: fit-content;
    background: white;
    cursor: pointer;

}

#membre{
    margin-top: -90px;
}

#formation{
    margin-top: -90px;
}

.infos h2 {
    text-align: center;
    margin-left: 6rem;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    margin-top: 15rem;
}

.info h4 {
    font-size: 1rem;
    line-height: 2.2;
    text-align: center;
}

.info_icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.info p {
    margin-top: 0.8rem;
    display: none;
}

.info.open p {
    display: block;
}

.info img {
    height: 1rem;
    margin-top: 0.5rem;
}

/* =================================================== ACTUALITE ====================================================  */

.actualites {
    background: white;
    height: 32rem;
    margin-bottom: 27rem;
}

.actualites h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.actualites_container {
    display: grid;
    grid-template-columns: 40% 60%;
    /* gap: 4rem; */
}

.actualites_center {
    text-align: center;
    margin-top: 4rem;
}

.actualites_left {
    margin-right: 2rem;
    margin-left: 7rem;
    text-align: justify;
}

.actualites_left p {
    margin: 1rem 0 3rem;
}

.actualites_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin-left: 10rem;
}

.actualite img {
    height: 20rem;
    margin-left: 0rem;
    margin-top: -240px;
}

article img.avion{
    margin-top: 100px;
}

article#formation.info{
    margin-top: 0px;
}
article#membre.info{
    margin-top: 0px;
}

/* ================================================RESPONSIVE (MEDIA QUERIES (TABLETS))==================================================== */


@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    .filieres {
        height: auto;
    }

    .filieres_container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .filieres_left {
        margin-right: 0;
    }
}

/* =================================== MEDIA QUERIES (PHONES) ====================================================== */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    .filieres_right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .filiere {
        padding: 1rem;
        border-radius: 1rem;
        margin-right: 2rem;
    }

    .filiere_icon {
        margin-top: 4px;
        display: inline-block;
    }
}